{% extends 'core/base.html' %}

{% block content %}

<div class="form-container">
    <div class="form">
            <form action="" method="POST">
                {% csrf_token %}
                <h2 class="form-heading">Cadastro de parque</h2>
                <input type="text" id="name" name="name" placeholder="Nome" required>
                <input type="text" id="address" name="address" placeholder="Endereço" required>
                <input type="text" id="description" name="description" placeholder="Descrição" required>
                
                <select name="city_id" required>
                    {% for city in cities %}
                        <option value="{{ city.id }}">{{ city.name }} - {{ city.state.abbreviation }}</option>
                    {% endfor %}
                </select>

                <input type="text" id="type" name="type" placeholder="Tipo" required>

                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
{% endblock %}